@font-face {
  font-family: 'SkipStd';
  src: url(..\things\fonts\FOT-SkipStd-B.otf);
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 2;
  overflow-x: hidden;
}

html{
  height: 100%;
  background-image: url('../things/bg-pattern.jpg');
  background-repeat: repeat;
  background-size: 400px auto;
  background-position: center top;
  background-attachment: fixed;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(241, 179, 7, 0.6);
  padding: 40rem 0rem;
}

body{
  font-family: 'SkipStd';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: transparent;
 
}

main {
  margin: 2rem auto;
  padding: 0 1rem;
  flex: 1;
}

h1, h2 {
  margin-bottom: 1rem;
}

footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

/*navigation bar*/
nav{
    background-color: goldenrod;
    padding: 1rem;
    text-align: center;
}

.nav{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
.nav a{
   color: white;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s ease;
}
.nav a:hover{
    color: #000000;
}

/* card for each sectoions*/
.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
}
.project-card{
  text-decoration: dotted;
  -webkit-text-stroke: .5px #000;
  background-color: #f1b307;
  border: 1px solid #000;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 16px #000;
  transition: opacity 0.6s ease-out, transform 0.6s ease;

}

/*skill cards*/
.skill-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  padding: 2rem; 
}
.skill-card{
  width: 100px;
  height: 100px;
  background-color: #f1b307;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 16px #000;
  transition: opacity 0.6s ease-out, transform 0.6s ease;
}
.skill-card a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-text-stroke: .5px #000;
  background-color: #f1b307;
}
.skill-card img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  
}

.about-grid{
  display: flex;
  justify-content: center;
}
.about-card{
  width: 700px;
  height: 600px;
  font-size: 20px;
  -webkit-text-stroke: .5px #000;
  background-color: #f1b307;
  border: 1px solid #000;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 16px #000;
  transition: opacity 0.6s ease-out, transform 0.6s ease;
}


.contact-grid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.contact-card{
  color: #000;
  text-decoration: dotted;
  -webkit-text-stroke: .5px #000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 100px;
  font-size: 20px;
  -webkit-text-stroke: .5px #000;
  background-color: #f1b307;
  border: 1px solid #000;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 16px #000;
  transition: opacity 0.6s ease-out, transform 0.6s ease;
}
.contact-card img{
  border-color: #000;
  width: 64px;
  height: 64px;
}
/*hover animation*/
.project-card:hover{
  transform: translateY(-20px);
}
.project-card a:visited{
  text-decoration: none;
  color: inherit;
  
}
.skill-card:hover{
  transform: translateY(-20px);
}
.project-card a:visited{
  text-decoration: none;
  color: inherit;
}

/*card fade in*/
.fade-in{
  opacity: 0;
  transform: translateY(20);
  pointer-events: none;
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.show{
  opacity: 1;
  pointer-events: auto;  
}

/*Section | Banners*/
.section-bg{
  font-family: 'SkipStd';
  font-size: 50px;
  -webkit-text-stroke: 1px #000;
  color: #fff;
  width: 100vw;
  margin-left: calc(-1 * (100vw - 100%) / 2);
  padding: 1rem 0rem;
  background-color: #000;
  text-align: center;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000;

background-image: repeating-linear-gradient(
  to bottom,
  #007a3d 0px,
  #007a3d 6px,
  #009e49 6px,
  #009e49 12px,
  #fef6b2 12px,
  #fef6b2 18px,
  #e30613 18px,
  #e30613 24px,
  #f1872d 24px,
  #f1872d 30px,
  #f9c73d 40px,
  #f9c73d 45px,
  #002b7a 45px,
  #002b7a 51px,
  #7faafc 51px,
  #7faafc 57px,    
  #007a3d 57px,
  #007a3d 63px
);
  background-size: 100% 50px;
  background-repeat: repeat;

}

.stripe-bg{
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
  transform: translateX(-100px);

  background-image: repeating-linear-gradient(
  to right,
  #007a3d 0px,
  #007a3d 6px,
  #009e49 6px,
  #009e49 12px,
  #fef6b2 12px,
  #fef6b2 18px,
  #e30613 18px,
  #e30613 24px,
  #f1872d 24px,
  #f1872d 30px,
  #f9c73d 40px,
  #f9c73d 45px,
  #f9c73d 50px,
  #002b7a 50px,
  #002b7a 50px,
  #7faafc 55px,
  #7faafc 60px,
  #007a3d 60px,
  #007a3d 63px
);
}

.scrolling-banner{  
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;

background-image: repeating-linear-gradient(
  to bottom,
  #007a3d 0px,
  #007a3d 6px,
  #009e49 6px,
  #009e49 12px,
  #fef6b2 12px,
  #fef6b2 18px,
  #e30613 18px,
  #e30613 24px,
  #f1872d 24px,
  #f1872d 30px,
  #f9c73d 30px,
  #f9c73d 50px,  
  #e2ae1f 50px,
  #e2ae1f 60px,   
  #cee8f09f 60px,
  #5e5050e8 60px,
  #7f8592 60px,
  #4e4f52 70px,
  #007a3d 70px,
  #007a3d 80px
);

}

.marquee{
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.scrolling-text{
  display: inline-block;
  -webkit-text-stroke: 1px #000;
  color: #fff;
  font-family: 'SkipStd';
  font-size: 50px;
  text-align: center;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.slide-banner {
  opacity: 0;
  transform: translateX(50rem);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.slide-banner.show {
  opacity: 1;
  transform: translateX(0);
}
/*CRT*/
.crt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9997;
  
  pointer-events: none;
 
  background: repeating-linear-gradient(
    to bottom,
      rgba(0, 0, 0, 0.15) 0px,
      rgba(0, 0, 0, 0.15) 4px, /*height of scanline*/
      transparent 4px,
      transparent 10px              /*spacing of next line*/
  );
  
  animation: flicker 0.1s infinite;
  animation: scanlines 2s linear infinite;
}

@keyframes flicker {
  0%, 100% { opacity: 0.9; }
  50% { opacity: 1; }
}
@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}


.scan-bar{
  position: absolute;
  z-index: 9998;
  height: 100%;
  width: 100%;
}
.scan{
  top: -10;
  height: 50px;
  width: 100%;
  background-color: #ffffff41;
  animation: scan 6s linear infinite;
  z-index: 9999;
  filter: blur(5px);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}


@keyframes scan{
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}